.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 0px;
    font-size: 16px;
    color: black;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.add form {
    padding: 60px 0;
    gap: 20px;
    width: 60%;
}

form div {
    width: 100%;
}

.add-image-upload label {
    cursor: pointer;
}

.add-image-upload img {
    width: 120px;
}

.add-product-name,
.add-product-description {
    width: max(40%, 280px);
}

.add-product-name input,
.add-product-description textarea {
    padding: 10px;
}

.add-category-price {
    display: flex;
    gap: 30px;
}

.add-category-price select,
.add-category-price input {
    max-width: 120px;
    padding: 10px;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}


.materialU {
    border-radius: 4px;
    border: none;
}